# Python基本的I/O
> python的内建函数，序列化对象，将其存储到磁盘 ，sql

In [5]:
path = './data/'

In [6]:
import numpy as np
from random import gauss
import pickle

In [17]:
a = [gauss(1.5, 2) for i in range(1000000)]

In [18]:
pkl_file = open(path + 'data.pkl', 'wb') # 可读可写

In [19]:
%time pickle.dump(a, pkl_file)

CPU times: user 31.3 ms, sys: 14.1 ms, total: 45.4 ms
Wall time: 43.9 ms

In [21]:
# 关闭
pkl_file.close()

In [24]:
pkl_file = open(path + 'data.pkl', 'rb')

In [25]:
%time b = pickle.load(pkl_file)

CPU times: user 41.2 ms, sys: 21.8 ms, total: 63 ms
Wall time: 60.9 ms

In [26]:
b[:5]

[0.3569602942674983,
 -1.4836746651286075,
 -2.0640621442958986,
 2.6338455716887292,
 1.0811224241026682]

In [28]:
a[:5]

[0.3569602942674983,
 -1.4836746651286075,
 -2.0640621442958986,
 2.6338455716887292,
 1.0811224241026682]

In [29]:
# 确保a对象和b对象相同。
np.allclose(np.array(a), np.array(b))

True

In [32]:
# 计算两个ndarray 对象的差，检查是否为0
np.sum(np.array(a) - np.array(b))

0.0

# 读取文本文件

In [33]:
rows = 5000
a = np.random.standard_normal((rows, 5))
a.round(4)

array([[ 0.2697, -0.1215, -1.29  , -0.8019, -0.6994],
       [-0.5808, -0.0272,  2.6815, -0.4789, -0.2842],
       [-0.2186, -0.3665, -0.0595,  0.5941,  0.6841],
       ...,
       [-0.1545, -1.5738, -0.5685, -0.8337,  0.0641],
       [ 0.5044, -1.1231, -0.8965,  0.439 , -1.5909],
       [-0.0087, -2.3749, -0.5271, -0.8213,  0.1396]])

In [35]:
import pandas as pd
t = pd.date_range(start='2014/1/1', periods=rows, freq='H')

In [36]:
t

DatetimeIndex(['2014-01-01 00:00:00', '2014-01-01 01:00:00',
               '2014-01-01 02:00:00', '2014-01-01 03:00:00',
               '2014-01-01 04:00:00', '2014-01-01 05:00:00',
               '2014-01-01 06:00:00', '2014-01-01 07:00:00',
               '2014-01-01 08:00:00', '2014-01-01 09:00:00',
               ...
               '2014-07-27 22:00:00', '2014-07-27 23:00:00',
               '2014-07-28 00:00:00', '2014-07-28 01:00:00',
               '2014-07-28 02:00:00', '2014-07-28 03:00:00',
               '2014-07-28 04:00:00', '2014-07-28 05:00:00',
               '2014-07-28 06:00:00', '2014-07-28 07:00:00'],
              dtype='datetime64[ns]', length=5000, freq='H')

In [47]:
csv_file = open(path + 'data.csv', 'w')

In [48]:
header = 'data,no1,no2,no3,no4,no5\n'

In [49]:
csv_file.write(header)

25

In [50]:
for t_,(no1,no2,no3,no4,no5) in zip(t,a):
    s = '%s, %f,%f,%f,%f,%f\n' % (t_, no1,no2,no3,no4,no5)
    csv_file.write(s)
csv_file.close()

In [51]:
csv_file = open(path + 'data.csv', 'r')

In [53]:
for i in range(5):
    print(csv_file.readline())

2014-01-01 04:00:00, 0.264154,-0.332780,1.324591,-0.952832,1.788224

2014-01-01 05:00:00, -0.143963,1.377069,0.478909,-0.312966,-1.494687

2014-01-01 06:00:00, 0.314564,-0.151806,-0.352198,0.537165,-0.493301

2014-01-01 07:00:00, 0.865761,1.264293,0.392473,0.109051,-0.289763

2014-01-01 08:00:00, -0.451870,0.073803,-0.413691,-0.879835,0.382084

## SQL数据库处理

In [54]:
import sqlite3 as sq3

In [58]:
# 查询语句
query = 'CREATE TABLE numbs (Date date, No1 real, No2 real)'

In [62]:
# 连接数据库
con = sq3.connect(path + 'numbs.db')

In [64]:
con.execute(query)

In [65]:
import datetime as dt

In [66]:
con.execute('INSERT INTO numbs VALUES(?,?,?)', (dt.datetime.now(), 0.12, 7.3))

In [71]:
data = np.random.standard_normal((10000,2)).round(5)
data

array([[ 0.81511,  1.87313],
       [-1.49221,  0.53151],
       [-1.34967,  0.00938],
       ...,
       [ 0.9051 ,  0.25534],
       [-0.03731, -0.92236],
       [ 0.13371, -1.17036]])

In [72]:
for row in data:
    con.execute('INSERT INTO numbs VALUES(?,?,?)', (dt.datetime.now(),
                                                   row[0], row[1]))
con.commit()

In [73]:
con.execute('SELECT * FROM numbs').fetchmany(10)

[('2018-11-18 18:28:00.130266', 0.12, 7.3),
 ('2018-11-18 18:30:43.771263', 0.81511, 1.87313),
 ('2018-11-18 18:30:43.771594', -1.49221, 0.53151),
 ('2018-11-18 18:30:43.771791', -1.34967, 0.00938),
 ('2018-11-18 18:30:43.772075', 0.39067, -0.13829),
 ('2018-11-18 18:30:43.772105', 0.35139, -1.71838),
 ('2018-11-18 18:30:43.772140', 1.49083, -2.63111),
 ('2018-11-18 18:30:43.772174', 0.10187, 2.02737),
 ('2018-11-18 18:30:43.772195', -0.34623, -1.49705),
 ('2018-11-18 18:30:43.772212', -0.95096, 1.50646)]

In [77]:
pointer = con.execute('SELECT * FROM numbs')
for i in range(3):
    print(pointer.fetchone())

('2018-11-18 18:28:00.130266', 0.12, 7.3)
('2018-11-18 18:30:43.771263', 0.81511, 1.87313)
('2018-11-18 18:30:43.771594', -1.49221, 0.53151)

In [79]:
con.close()

OperationalError: unable to close due to unfinalized statements or unfinished backups

# 读取NumPy数组

In [80]:
import numpy as np

In [83]:
dtimes = np.arange('2015-01-01 10:00:00', 
                 "2021-12-31 22:00:00", 
                  dtype='datetime64[m]')

In [84]:
len(dtimes)

3681360

In [86]:
dty = np.dtype([('Date', 'datetime64[m]'),
               ('No1', 'f'),
               ('No2', 'f')])
data = np.zeros(len(dtimes), dtype=dty)

In [88]:
data['Date'] = dtimes

In [90]:
a = np.random.standard_normal((len(dtimes),2)).round(5)
data['No1'] = a[:,0]
data['No2'] = a[:,1]

In [91]:
%time np.save(path + 'array', data)

CPU times: user 1.96 ms, sys: 48 ms, total: 50 ms
Wall time: 82 ms

In [92]:
ll $path*

-rw-r--r--  1 cuijl  staff  58901888 Nov 18 18:42 ./data/array.npy
-rw-r--r--  1 cuijl  staff    342636 Nov 18 18:10 ./data/data.csv
-rw-r--r--  1 cuijl  staff   9002006 Nov 18 17:43 ./data/data.pkl
-rw-r--r--  1 cuijl  staff    520192 Nov 18 18:30 ./data/numbs.db

In [93]:
%time np.load(path + 'array.npy')

CPU times: user 1.82 ms, sys: 42.1 ms, total: 43.9 ms
Wall time: 41.8 ms

array([('2015-01-01T10:00', -0.99081,  0.43491),
       ('2015-01-01T10:01', -0.70067, -0.21803),
       ('2015-01-01T10:02',  0.02422, -0.01063), ...,
       ('2021-12-31T21:57',  0.90913,  0.01958),
       ('2021-12-31T21:58',  0.49692, -0.09645),
       ('2021-12-31T21:59', -1.44067,  0.5095 )],
      dtype=[('Date', '<M8[m]'), ('No1', '<f4'), ('No2', '<f4')])

## 使用pandas的IO
* csv
* sql
* xls/xslx
* json
* html

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.random.standard_normal((100000,5)).round(5)

In [7]:
filename = path + 'numbers'

In [8]:
import sqlite3 as sq3

In [9]:
query = 'create table numbers (No1 real, No2 real, No3 real, No4 real, No5 real)'

In [11]:
conn = sq3.Connection(filename + '.db')

In [12]:
conn.execute(query)

In [13]:
%%time
temp = conn.execute('SELECT * FROM numbers').fetchall()
print(temp[:2])
temp=0.0

[]
CPU times: user 834 µs, sys: 809 µs, total: 1.64 ms
Wall time: 877 µs

In [17]:
 %%time
    query = 'SELECT * FROM numbers where No1 >0 and No2 >0'
    res = np.array(conn.execute(query).fetchall()).round(3)

CPU times: user 262 µs, sys: 231 µs, total: 493 µs
Wall time: 359 µs

In [18]:
res = res[::100]
import matplotlib.pyplot as plt
%matplotlib inline
plt.plot(res[:, 0], res[:, 1], 'ro')
plt.grid(True)
plt.xlim(-0.5, 4.5)
plt.ylim(-4.5, 0.5)

IndexError: too many indices for array

In [19]:
import pandas.io.sql as pds

In [20]:
%time data = pds.read_sql('select * from numbers', conn)

CPU times: user 2.26 ms, sys: 982 µs, total: 3.24 ms
Wall time: 2.46 ms

In [21]:
data

Empty DataFrame
Columns: [No1, No2, No3, No4, No5]
Index: []